<div class="room" id="room_{{id}}_data">
  <h3><a id="room_{{id}}">Room {{key}}</a></h3>
  <p>
    A bare room.
    It measures {{height}} feet north-to-south,
    and {{width}} feet east-to-west
  </p>
  <p>
    There are {{exits.length}} exits:
  </p>
  <ol class="exits">
    {{#each exits}}
      <li id="door_{{door.id}}" class="js-door" data-door-id="{{door.id}}">
        <label>
          <input type="checkbox" id="select_door_{{door.id}}"
              class="js-select-door-checkbox"
              {{#if selected}}checked{{/if}} />
          <!-- TODO: this is wrong -- the door direction may need reversing if it belongs to a square in the other room. -->
          A {{displayDoorType door.style}} in the {{door.direction}} wall,
          leading to <a href="#room_{{room.id}}">Room {{room.key}}</a>.
        </label>
      </li>
    {{/each}}
  </ol>
  <div class="edit-room" data-room-id="{{id}}">
    <p class="select-room"><label>
      <input type="checkbox" id="select_room_{{id}}" class="js-select-checkbox"
        {{#if selected}}checked{{/if}}/>
      Select
    </label></p>
    <button class="js-remove-room">Remove</button>
    <button class="js-add_door">Add Door</button>
  </div>
</div>
